.clicked-cell, .unclicked-cell {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-user-select: none;
    user-select: none;
}

.clicked-cell {
    background-color: lightblue;
}

.unclicked-cell {
    background-color: aquamarine;
    transition: 0.6s;
}

.unclicked-cell:hover{ 
    background-color: pink;
    cursor: pointer;
}